.div1 {
    position: absolute;
    top: 10px;
    left: 40px;
    height: 100px;
    width: 100px;
    background-color: blue;
    margin: 10px;
}

.div2 {
    position: absolute;
    top: 10px;
    left: 160px;
    height: 100px;
    width: 100px;
    background-color: blue;
    margin: 10px;
}

.div3 {
    position: absolute;
    top: 130px;
    left: 40px;
    height: 100px;
    width: 100px;
    background-color: blue;
    margin: 10px;
}

.div4 {
    position: absolute;
    top: 130px;
    left: 160px;
    height: 100px;
    width: 100px;
    background-color: blue;
    margin: 10px;
}

.div5 {
    background-color: red;
    position: absolute;
    top: 70px;
    left: 100px;
    height: 100px;
    width: 100px;
    margin: 10px;
    transform: rotate(45deg);
}